.cont-general{
    width: calc(100% - 250px) !important;
}

.cont-general1{
    width: 100%;
}

.c-color1{
    background: #BDBAB9;
}

.c1 {
    background: #f8af00;
    
}

.c1::placeholder { 
    color: #fff;
    font-size: 12px; 

}

/* CSS Listado*/

#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 12px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .1em;
    *padding: .4em;
    margin: .5em 0 .5em .0em;
    color: #444;
    background: #e5e5e5;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#lista3 li:hover{
    background: #bfbfc0;
}   

.itm2 li:hover{
    background: #5d7aaf !important;
}


.c-btn1{
    background: #363d49;
    color: #fff;
}

.title1{
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;    
}

.c-cont{
    background: #e5e5e5;
}

#Active{
    background: #bfbfc0;
}   

.pre-img{
    width: 200px;
    height: 60px;
    background: #c64848;
    margin-top: 20px;
}

.h-caja{
    height: calc(2rem + 2px) !important;
}