<div class="container">
    <div class="row justify-content-center align-items-center minh-100">
      
        <div class="col-12 col-sm-6 row col-gb p-0">
            <div class="col-12 text-white bg-fondo">
                <span class="text-center">
                    <img class="logo-img" src="../../../../assets/img/logo.png" alt="">
                    INICIAR SESION
                </span>
            </div>  
            <div class="col-12 d-flex justify-content-center text-white pt-3">
                <div class="col-10">
                    <form>
                        <div class="form-group">
                            <label for="Correo">Usuario</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <hr class="bg-light">
                        <div class="text-center pb-5">
                            <p>
                                <a href=""> ¿ Tienes Problemas  al acceder a tu cuenta ? </a>
                            </p>
                            <button type="submit" class="btn col-btn btn-border text-white p-btn">INGRESAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  