<div class="row m-0 pt-5">
    <h5 class="text-center tm-100">Datos de Marca</h5>
    <form (ngSubmit)="onSaveBrandProduct()" #f="ngForm" class="row col-12">
  
      <div class="col-12 col-sm-12 col-md-6">
  
          <div class="form-group mb-1">
            <label for="RasonSocila" class="m-0">Nombre: </label>
            <input 
            name="nameBrand"
            [(ngModel)]="datosbrandProduct.nameBrand"
            [ngClass]="{error: !valNameBrand}"
            type="text" class="form-control h-caja" id="rasonSocial" placeholder="Nombre" >
          </div>
  
          <div class="form-group mb-1">
            <label for="Direccion" class="m-0">Descripcion: </label>
            <textarea 
            name="descriptionBrand"
            [(ngModel)]="datosbrandProduct.descriptionBrand"
            class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
          </div>
  
      </div>
  
      <div class="col-12 col-sm-12 col-md-6">
               
        <div class="form-group mb-1">
          <label for="RasonSocila" class="m-0">Codigo: </label>
          <input 
          name="codeBrand"
          [(ngModel)]="datosbrandProduct.codeBrand"
          [ngClass]="{error: !valCodeBrand}"
          type="text" class="form-control h-caja" id="rasonSocial" placeholder="Codigo" >
        </div>
    
        <div class="form-group mb-1">
          <label for="Estado" class="m-0">Estado: </label>
          <select 
          name="stateBrand"
          [(ngModel)]="datosbrandProduct.stateBrand"
          class="form-control h-caja" id="estado">
            <option value="1">Activo</option>
            <option value="2" >Inactivo</option>
          </select>
        </div>
        
      </div>
  
      <div class="text-center p-2">
          <button type="submit" id="btn" gtipo="Guardar" class="btn btn-outline btn-success pl-5 pr-5 ml-2 font-12">
            {{datosbrandProduct.btnName}}
          </button>
      </div>
      
    </form>
  </div>