<div class="row m-0 pt-5">
  <h5 class="text-center">Datos de Establecimiento</h5>
  <form (ngSubmit)="onSaveStore()" #f="ngForm" class="row col-12">

    <div class="col-12 col-sm-12 col-md-6">

        <div class="form-group mb-1">
            <label for="Tipo" class="m-0 ">Tipo Establecimientos: </label>
            <select 
            (change)="tipoCompany($event)"
            [(ngModel)]="datosStore.idType"
            name="idType"
            class="form-control h-caja" id="tipo">
              <option value="1" >Matriz</option>
              <option value="2" >Sucursal</option>
            </select>
        </div>

        <div class="form-group mb-1" [ngClass]="{ocultar: datosStore.idType == 1}">
            <label for="Tipo" class="m-0 ">Empresa Matriz: {{datosStore.idMatrix}} </label>
            <select 
            name="idMatrix"
            [(ngModel)]="datosStore.idMatrix"
            [ngClass]="{error: !valMatrix}" 
            class="form-control h-caja" id="tipo">
              <option value="0" >Escoja Matriz </option>
              <option *ngFor="let establecer of establecerMatrixf" value="{{establecer.idStore}}" > {{establecer.nameStore}} </option>
            </select>
        </div>
    
        <div class="form-group mb-1">
          <label for="RasonSocila" class="m-0">Razón Social: </label>
          <input 
          name="nameStore"
          [(ngModel)]="datosStore.nameStore"
          [ngClass]="{error: !valName}" 
          type="text" class="form-control h-caja" id="rasonSocial" placeholder="Nombre de Empresa" >
        </div>
    
        <div class="form-group mb-1">
          <label for="Ruc" class="m-0">RUC: </label>
          <input 
          name="rucStore"
          [(ngModel)]="datosStore.rucStore"
          [ngClass]="{error: !valRuc}" 
          type="text" class="form-control h-caja" id="ruc" placeholder="00000000000" >
        </div>
    
        <div class="form-group mb-1">
          <label for="Direccion" class="m-0">Direccion: </label>
          <input 
          name="addressStore"
          [(ngModel)]="datosStore.addressStore"
          [ngClass]="{error: !valAddress}" 
          type="text" class="form-control h-caja" id="direccion" placeholder="Direccion de Empresa" >
        </div>
     

    </div>

    <div class="col-12 col-sm-12 col-md-6">
      
        <div class="form-group mb-1">
            <label for="Telefono" class="m-0">Tetefono: </label>
            <input 
            name="phoneStore"
            [(ngModel)]="datosStore.phoneStore"
            [ngClass]="{error: !valPhone}" 
            type="text" class="form-control h-caja" id="telefono" placeholder="Telefono de Empresa" >
          </div>
      
          <div class="form-group mb-1">
            <label for="Celular" class="m-0">Celular: </label>
            <input 
            name="mobileStore"
            [(ngModel)]="datosStore.mobileStore"
            [ngClass]="{error: !valMobile}" 
            type="text" class="form-control h-caja" id="celular" placeholder="Celular de Empresa" >
          </div>                          
      
          <div class="form-group mb-1">
            <label for="Estado" class="m-0">Estado: </label>
            <select 
            name="stateStore"
            [(ngModel)]="datosStore.stateStore"
            class="form-control h-caja" id="estado">
              <option value="1">Activo</option>
              <option value="2" >Inactivo</option>
            </select>
          </div>
      
          <div class="form-group mb-1">
            <label class="btn btn-primary npad-form h-caja">
             Imagen <input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
            </label>
           
           
            <div class="pre-img"> 
              <img [src]="datosStore.imageStore" class="imgStore">  
            </div>
          </div>


    </div>

    
    <div class="text-center p-2">
        <button type="submit" id="btn" gtipo="Guardar" class="btn btn-outline btn-success pl-5 pr-5 ml-2 font-12">
            {{datosStore.btnName}}
        </button>
    </div>

    

  </form>
</div>